body{
    background-color: #0d0d0d;
    font-size: 1.05rem;
}
@font-face {
    font-family: BookAntiqua;
    src: url("../fonts/BookAntiqua.ttf");
}
@font-face {
    font-family: MyriadProBold;
    src: url("../fonts/MYRIADPRO-BOLD.OTF");
}
body {
    background-image: url("../images/body-bg-up.webp");
    background-repeat: no-repeat;
    background-size: 1140px;
}
.navbar{
    padding: .3rem 1rem 1.7rem 1rem;
}
li.nav-item{
    font-family: BookAntiqua;
    font-weight: bold;
    text-transform: uppercase;
    /*
    -webkit-text-stroke: 1px #2d2220;
    -webkit-text-fill-color: white;
    */
    text-shadow:
        2px 2px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    line-height: 2.4;
	font-size: 0.9em;
}
.nav-link{
    color: #635550 !important;
}
.active .nav-link{
    border-right: 1px solid #473c35;
    border-left: 1px solid #473c35;
}
.active .nav-link, .nav-link:hover{
    color: #ebdbca !important;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 50%, rgba(92,86,83,1) 100%); 
}

#download-client span, #download-patch span {
	background-image: url("../images/button-green.png");
	width: 100%;
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
    font-family: MyriadProBold;
    text-transform: uppercase;
    color: #cab294 !important;
    text-shadow:
        2px 2px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
	height: 64px;
	padding-top: 1.1rem;
}
#download-client{
    padding-right: 0px;
    /*padding-left: 100px;*/
    margin-right: -2rem;
    margin-top: 10px;
}

#server-status-orb{
    padding-right: 0px;
    padding-left: 0px;
    z-index: 1;
}

#download-patch{
    padding-left: 0px;
    /*padding-right: 100px;*/
    margin-left: -2rem;
    margin-top: 10px;
}

#content {
	background-image: url("../images/base-bg.png");
    margin-top: -1em;
    padding-top: 1em;
    padding-bottom: 1em;
	border-radius: 2px;
	
	margin-top: -4em;
	padding-bottom: 4em;
}

.content-box {
	background-color: #201a17e6;
    -moz-box-shadow:    inset 0 0 4px #000000, 0 0px 6px 0 rgb(85,72,63);
    -webkit-box-shadow: inset 0 0 4px #000000, 0 0px 6px 0 rgb(85,72,63);
    box-shadow:         inset 0 0 4px #000000, 0 0px 6px 0 rgb(85,72,63);
	border-radius: 3px;
    color: #ebdbca;
    padding: 2em;
    border-style: solid;
    border-width: 1px;
    border-color: #55483f;
    margin-bottom: 1em;
}

.no-pad-bottom {
    padding: 2em 2em 0em 2em;
    margin-bottom: 1.6em;
}

.pre-top-badge {
	padding: 5em 2em 2em 2em;
	margin-top: 3em;
}

.pre-top-badge p {
	line-height: 80%;
}

.content-box-top-badge {
	position: absolute;
	top: -3em;
	margin-bottom: -12%;
}

.content-box-top-badge > img {
	max-width: 50%;
	border-color: #746350;
	border-width: 2px;
	box-shadow: inset 0 0 4px #000000, 0 0px 6px 0 rgb(85,72,63);
	margin-left: 18%;
}

/* .content-box-top-badge + div { */
/* 	position: relative; */
/* 	top: -3em; */
/* } */



.input-dark{
	background-color: #191411;
	border-color: #332c27;
	color: #4d4439;
}

.input-dark:focus{
	background-color: #221f1e;
	color: #aeaeae;
	border-color: #4a2f22;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(128, 48, 0, 0.25);
}

.button-orange {
	background-color: transparent;
	background-image: url("../images/button-orange.png");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 80%;
	height: 3.4em;
	position: relative;
	top: 1.6em;
	border: none;
	margin-top: -1.6em;
	color: #ebe2cc;
	font-family: MyriadProBold;
	margin-left: 10%;
}

.cont-img-text-over{
  position: relative;
  text-align: center;
  color: white;
}


.cont-img-text-over > a{
  color: #ebdbca;
}

.cont-img-text-over img{
	width: 100%;
}

.text-over-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-brown-header {
	background-image: url("../images/button-brown.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0em;
	left: 0em;
	width: 100%;
	height: 60px;
	padding-top: 18px;
	text-align: center;
}

.button-brown-header + div {
	margin-top: 30px;
}

table.table tr{
	border-bottom: 2px solid #4a4036;
}

#content-center {
	padding-top: 2em;
}

#top-menu {
	background-image: url("../images/top-menu.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-left: 192px;
}

.container{
	max-width: none !important;
	width: 1140px;
}

#downloads-panel {
	margin-top: 450px;
}

@media (min-width: 1140px) {
	body {
	    background-size: 100%;
	}
}
